HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
application.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### dot env ###
.env

# Ignore all files in uploads directory
/uploads/
uploads/

# Ignore common document and image file types everywhere
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.bmp
*.webp
*.ico
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.zip
*.rar
*.tar
*.gz