body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --primary: #fd0000;
    --primary-hover: #ff4d4d;

    --secondary: #000000;
    --secondary-hover: #333333;

    --muted: #f5f5f5;
    --muted-foreground: #737373;

    --accent: #f5f5f5;
    --accent-foreground: #171717;

    --destructive: #ff4747;
    --destructive-foreground: #fafafa;

    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;

    --chart-1: #ff9e66;
    --chart-2: #299f8d;
    --chart-3: #335266;
    --chart-4: #ffcf66;
    --chart-5: #ff9966;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #404040;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #dee2e8;
    --sidebar-ring: #3b82f6;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;

    --primary: #fd0000;
    --primary-hover: #ff4d4d;

    --secondary: #000000;
    --secondary-hover: #333333;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #821e1e;
    --destructive-foreground: #fafafa;

    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;

    --chart-1: #3b82f6;
    --chart-2: #22c55e;
    --chart-3: #ffbf47;
    --chart-4: #c084fc;
    --chart-5: #fb7185;

    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #386cf2;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #282828;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #282828;
    --sidebar-ring: #3b82f6;
}

}
